@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
body {
  color: black;
  background: cyan;
  font-family: 'Poppins', sans-serif;
}
.heading {
  width: 80%;
  font-size: 22px;
}
#camera {
  border: 2px dashed black;
  width: 350px;
  height: 300px;
}
.name_of_objects,
#result_object_name,
#result_object_accuracy {
  color: black;
}
